.searchBar {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  padding: 10px 12px;
  width: 95%;
}



.input {
  border: none;
  outline: none;
  font-size: 14px;
  color: #111827;
  width: 100%;
  background: transparent;
}

.input::placeholder {
  color: #9CA3AF;
}
.icon {
  width: 16px;
  height: 16px;
}
